<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        position: sticky;
        top: 0;
    }
    hr{
        margin-top: 100px;
    }
</style>
<body>
   <div>
    <hr>
    <hr>
    <hr>
    <hr>
   <ul>
       <li>
        <h1>粘性定位</h1>
       </li>
   </ul>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
   </div>
   
</body>
</html>